.old-post-notice {
	font-weight: 700;
	margin-bottom: 1.5em;
	padding: 10px 15px;
	p {
		&:first-of-type {
			margin-top: 0; // Some themes add top margin to paragraphs, this ensures no top gap before first paragraph
		}
		&:last-of-type {
			margin-bottom: 0; // Most themes add bottom margin to paragraphs, this ensures no bottom gap after last pargraph
		}
	}
}